.banner{
    position: relative;
    width: 7.5rem;
	height: 7.5rem;
}
.swiper-pagination-bullet{
    width: 0.2rem;
	height: 0.1rem;
	background: #ffffff;
    border-radius: .1rem;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    width: 0.4rem;
	height: 0.1rem;
	background: #f6aa15;
    border-radius: 0.1rem;
    opacity: 1;
}
.swiper1 img{
    width: 100%;
}
header{
    position: absolute;
    top: 0;
    width: 7.5rem;
    height: 1rem;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;
    background: rgba(255, 255, 255, 0);
}
header img{
    display: block;
}
header .logo{
    width: 2.2rem;
    height: 0.5rem;
    margin-left: .4rem;
}
header .btn_no{
    width: 0.4rem;
    height: 0.3rem;
    margin-right: .4rem;
}
.jies{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #f2f2f2;
    padding: .8rem .4rem;
}
.jies_z{
	font-family: MicrosoftYaHei-Bold;
	font-size: 0.3rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.3rem;
	letter-spacing: 0rem;
	color: #222222;
}
.jies_y{
    font-family: MicrosoftYaHei-Bold;
	font-size: 0.2rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.3rem;
	letter-spacing: 0rem;
    color: #666666;
    margin-top: .2rem;
}
.jies video{
    display: block;
    width: 6.7rem;
    height: auto;
    margin: .2rem auto;
}
.jies p{
    text-indent: 2em;
    font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.5rem;
	letter-spacing: 0rem;
    color: #666666;
    text-align: justify;
}
.cy_w{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #ffffff;
    padding: .8rem 0;
}
.w_67{
    width: 6.7rem;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.cy_t{
    width: 100%;
    text-align: center;
    font-family: MicrosoftYaHei-Bold;
	font-size: 0.4rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #333333;
}
.cy_t span{
    color: #0053a6;
}
.cy_y{
    font-family: MicrosoftYaHei;
	font-size: 0.2rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.3rem;
	letter-spacing: 0rem;
    color: #666666;
    margin: .25rem auto;
    text-align: center;
}
.cy_box ul{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: .3rem;
}
.cy_box ul li{
    width: 2.2rem;
	height: 1.3rem;
    background-color: #f2f2f2;
    font-family: MicrosoftYaHei;
	font-size: 0.2rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.3rem;
	letter-spacing: 0rem;
    color: #666666;
    text-align: center;
}
.cy_box ul li.cy_on{
    background-color: #f6aa15;
    color: #ffffff;
}
.ul_list{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: none;
    transition: all 1s;
}
.ul_list_on{
    display: block;
    transition: all 1s;
}
.ul_list img{
    width: 100%;
    height: auto;
}
.ul_list p{
    font-family: MicrosoftYaHei;
	font-size: 0.2rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.5rem;
	letter-spacing: 0rem;
    color: #666666;
    text-align: justify;
}
.jyln{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: .8rem 0;
    background: url(../img/ln.jpg) no-repeat;
    background-size: cover;
}
.jy_tit{
    width: 1.9rem;
    font-family: MicrosoftYaHei;
	font-size: 0.4rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.4rem;
	letter-spacing: 0rem;
    color: #ffffff;
    border-right: .04rem solid #f6aa15;
}
.jyln h3{
    font-family: MicrosoftYaHei-Bold;
	font-size: 0.28rem;
	font-weight: 600;
	font-stretch: normal;
	letter-spacing: 0rem;
    color: #ffffff;
    margin-top: .7rem;
}
.jyln p{
    font-family: MicrosoftYaHei;
	font-size: 0.24rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.48rem;
	letter-spacing: 0rem;
    color: #ffffff;
    text-align: justify;
}
.jyln p span{
    color: #f6aa15;
}
.jyln ul{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75rem;
}
.jyln ul li{
    width: 1rem;
	height: 1rem;
    background: rgba(255, 255, 255, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.jyln ul li span{
    display: block;
    width: 0.88rem;
    height: 0.88rem;
    border-radius: 50%;
    background: #ffffff;
    font-family: MicrosoftYaHei-Bold;
	font-size: 0.3rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.88rem;
	letter-spacing: 0rem;
    color: #f6aa15;
    text-align: center;
}
.jyln_box{
    width: 6.7rem;
	height: auto;
    background-color: #ffffff;
    padding: .3rem;
    position: relative;
    margin-top: 10px;
    display: none;
}
.jyln_box p{
    font-family: MicrosoftYaHei;
	font-size: 0.24rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.48rem;
	letter-spacing: 0rem;
	color: #666666;
}
.jyln_box:after {
    position: absolute;
    content: '';
    border-right: 10px transparent dashed;
    border-left: 10px transparent dashed;
    border-bottom: 10px #fff solid;
}
.jyln_box_0{
    display: block;
}
.jyln_box_0:after {
    left: 10px;
    top: -10px;
    /*覆盖并错开1px*/
    border-bottom: 10px #fff solid;
}
.jyln_box_1:after{
    top: -10px;
    left: 47%;
}
.jyln_box_2:after{
    top: -10px;
    right: 10px;
}
.news {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: .8rem 0;
}
.news_t{
    text-align: center;
    font-family: MicrosoftYaHei-Bold;
	font-size: 0.36rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #333333;
}
.news_t span{
    color: #0053a6;
}
.news_y{
    text-align: center;
    font-family: MicrosoftYaHei;
	font-size: 0.16rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.24rem;
	letter-spacing: 0rem;
    color: #666666;
    margin: .25rem 0;
}
.news ul{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.news ul li{
    width: 6.7rem;
	height: auto;
	background-color: #ffffff;
    border: solid 1px #e3e3e3;
    padding-top: .3rem;
    margin-bottom: .3rem;
}
.news ul li h3 a{
    display: block;
    width: 100%;
    height: auto;
    font-family: MicrosoftYaHei;
	font-size: 0.24rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.24rem;
	letter-spacing: 0rem;
    color: #333333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    margin-bottom: .2rem;
}
.news ul li .time{
    font-family: MicrosoftYaHei;
	font-size: 0.18rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.24rem;
	letter-spacing: 0rem;
	color: #666666;
}
.news_top{
    width: 6.1rem;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 1px #e3e3e3 dashed;
    padding-bottom: .2rem;
}
.news_down{
    width: 6.1rem;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.news_down a{
    display: block;
    font-family: MicrosoftYaHei;
	font-size: 0.24rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.48rem;
	letter-spacing: 0rem;
	color: #999999;
}