.content {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: .5rem .4rem;
}
.content h3{
    font-family: MicrosoftYaHei;
	font-size: 0.32rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.48rem;
	letter-spacing: 0rem;
	color: #333333;
}
.content span{
    display: inline-block;
    font-family: MicrosoftYaHei;
	font-size: 0.2rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.24rem;
	letter-spacing: 0rem;
    color: #666666;
    margin: .3rem 0;
    margin-right: .3rem;
}
.content i{
    display: block;
    height: 1px;
    background: #e3e3e3;
}
.content p{
    text-align: justify;
    text-indent: 2em;
    font-family: MicrosoftYaHei;
	font-size: 0.24rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.5rem;
	letter-spacing: 0.01rem;
    color: #666666;
    margin: .15rem 0;
}
.content img{
    display: block;
    width: 100%;
    margin: .2rem auto;
}
.up_a{
    display: block;
	height: 0.8rem;
    background-color: #eeeeee;
    font-family: MicrosoftYaHei;
	font-size: 0.2rem;
	font-weight: normal;
	font-stretch: normal;
	line-height:0.8rem;
	letter-spacing: 0rem;
    color: #666666;
    text-indent: 2em;
    margin-top: .45rem;
}